---
// import Layout from '../layouts/BlogPost.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header';
import Footer from '../components/Footer.astro';
import Accounts from '../components/Accounts'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title="Account" description="Accounts page" />
		<style>
			/* .title {
				font-size: 2em;
				margin: 0.25em 0 0;
			} */
			hr {
				/* border-top: 4px solid #ddd;
				margin: 1rem 0; */
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body>
		<Header title={SITE_TITLE} ASTRO_BACKEND_URL={import.meta.env.ASTRO_BACKEND_URL} client:load />
		<main>
      <Accounts ASTRO_BACKEND_URL={import.meta.env.ASTRO_BACKEND_URL} client:load />
		</main>
		<Footer />
	</body>
</html>