---
import axios from 'axios';
const { data } = Astro.props;

console.log(data);
const comments = data.map(async (commentJson: any) => {
  const res = axios.get(`${import.meta.env.REACT_APP_BACKEND_URL}/api/comments/${commentJson.id}?populate=users_permissions_user`);
  const { data } = await res;
  const username = data.data.attributes.users_permissions_user.data.attributes.username;
  const comment = data.data.attributes.comment
  // console.log(dat, comment)
  return {username: username, comment: comment}
})
---
{
  comments.map((commentInfo: {username: string, comment: string}) => {
    return (
      <p>{commentInfo.username}</p>
      <p>{commentInfo.comment}</p>
    )
  })
}